body{background-color:#3feaa6
}
img {
    display: block;
    margin: auto;
    width: 40%;
}
h1{text-align: center ; font-family: "Georgia", serif} 
h2{text-align: center ; font-family: "Georgia", serif} 
p{text-align: center ; font-family: "Georgia", serif} 
li{text-align: center ; font-family: "Georgia", serif}
a{ color:#ea473f; text-align: center ; font-family: "Georgia", serif}
div.marshall {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 150px;
    margin-left: 150px;
}
